.skill
{
    font-size: 48px;
    font-weight: bold;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    text-align: center;
    padding-top: 60px;
    -webkit-text-fill-color: transparent;
}
.carousel-bg {
  background-color: none;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* quote */
.quote-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 60px;
  width: 80px;
}
/* text-style */
.testimonial-style .testimonial-caption-style {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: white;
  line-height: 30px;
  text-shadow: none;
  top: 10%;
}
.testimonial-style .testimonial-authors {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  color: #e6c48a;
  line-height: 30px;
  margin-top: 20px;
}
/* carousel-height-control */
.testimonial-style .carousel-inner > .item {
  padding-top: auto;
  padding-bottom: auto;
  height: 550px;
}
/* carousel-left-right-control */
.testimonial-style .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control {
  color: white;
  padding-right: 5px;
}
.testimonial-style .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
}
/* indicators */
.testimonial-style .carousel-indicators .active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.testimonial-style .carousel-indicators li {
  border: 2px solid #354052;
  background-color: #354052;
}

#recommendation
{
  /* background-image: url('../img/gif7.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* text-transform: uppercase; */
  background-color: #000000;
  scroll-behavior: smooth;
  --dot-size: 1px;
  --dot-space: 22.4px;
  min-width: 95vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #000 21px, transparent 1%) 50%, linear-gradient(#000 21px, transparent 1%) 50%, #5c5c5c;
  background-size: auto, auto, auto;
  background-size: var(--dot-space) var(--dot-space);
  animation: floating 150s linear infinite;
}


@keyframes floating {
  100% {
    background-position: 50px 0,125px 25px;
  }
}


@media screen and (max-width: 885px) {
  .skill
  {
      font-size: 32px;
  }

  .lf{
    margin-top: 0px;
  }
  
  .rf{
    margin-top: 0px;
  }
  .testimonial-authors{
    margin-top: 5px;
  }

  .testimonial-style{
    margin-left: 5%;
  }
  .carousel-inner{
    height: 700px;
  }
}

.lf{
  margin-top: -150px;
}

.rf{
  margin-top: -150px;
}