@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
#Whyme
{
    /* margin-bottom: 100px; */
  /* background-image: url('../img/gif11.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: #000000;
  scroll-behavior: smooth;
  --dot-size: 1px;
  --dot-space: 22.4px;
  min-width: 95vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #000 21px, transparent 1%) 50%, linear-gradient(#000 21px, transparent 1%) 50%, #5c5c5c;
  background-size: auto, auto, auto;
  background-size: var(--dot-space) var(--dot-space);

  animation: floating 150s linear infinite;
}

@keyframes floating {
    100% {
      background-position: 50px 0,125px 25px;
    }
  }

body
{
    font-family: "Ubuntu","Uchen",sans-serif;
}
.why
{
    font-size: 48px;
    font-weight: bold;
    /* font-family: sans-serif; */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-text-fill-color: transparent;
}
.whyme
{
    justify-content: center;
    align-items: center;
    display: flex;
}
.whyme1 , .whyme2, .whyme3
{
    color: white;
    font-size: 20px;
    background-color: rgb(29, 28, 28);
    height: 250px;
    width: 317px;
    margin-right: 3%;
    padding: 20px;
    margin-bottom: 4%;
}
.whyme1:hover
{
    background-color: #EAA023;
    transition: 1s ease;
}
.whyme2:hover
{
    background-color: #E96E13;
    transition: 1s ease;
}
.whyme3:hover
{
    background-color: #24CAAC;
    transition: 1s ease;
}

.whyme-content
{
    margin-top: 15px;
    font-size: 16px;
    color: rgb(233, 231, 231);
    font-family: sans-serif;
}

@media screen and (max-width: 885px) {
    .whyme1 , .whyme2, .whyme3
    {
        margin-right: -3%;
        height: 220px;
        width: 317px;
    }
}
